{% block custom_styles %}
<style>
  .site-search {
    display:none;
  }

  header.masthead {
    box-shadow: none;
  }
</style>
{% endblock %}

<!-- Hero Section -->
<div class="hero" id="hero">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="hero-content">
          <h1>America's education data</h1>
          <h4>Datasets from U.S Department of Education</h4>
          {% block stats %} 
            {% endblock %} {% block search %} 
            {% snippet 'home/snippets/search.html' %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Categories and Major Topics -->
<div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">

        <div class="home-categories">
        <h3>Datasets by category</h3>

        <div class="card-custom categories-card shadow">

                  <div class="col-links-1">
                    <ul>
                      {% for item in c.search_facets.groups['items'][:9] %}
                        <li>
                            {% set href = "/dataset?groups=" + item.name %}
                            <a href="{{ href }}">
                                {{ item['display_name'] }}
                                <span>{{ item.count }}</span></a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                  <div class="col-links-2">
                    <ul>
                      {% for category in c.search_facets.groups['items'][9:] %}
                        <li>
                            {% set href = "/dataset?groups=" + item.name %}
                            <a href="{{ href }}">{{ category['display_name'] }}<span>{{ category.count }}</span></a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
               <div class="col-tags" data-simplebar> 

                      {% set sorted_tags = h.alphabetize_tags(c.search_facets.tags['items']) %}
                      {% set previous_letter = none %}
                      {% for tag in sorted_tags %}

                      {% if previous_letter != tag['name'][0].lower() %}
                            {% if previous_letter != none %} </div> {% endif %}
                            <div class="tag-group">
                                <h5> {{ tag['name'][0].upper() }}</h5>
                                {% set previous_letter = tag['name'][0].lower() %}
                           {% endif %}
                            {% set href = "/dataset?tags=" + tag['name'] %}
                            <a href="{{ href }}" class="tag-custom">#{{ tag['display_name'] }}</a>

                      {% endfor %}
               </div>

                <p class="clearfix"></p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Treanding and New Data -->
<div class="container">

  <div class="row">
    <div class="col-sm-12 col-md-12">

      <div class="trending-new">
        <div class="row">
          <div class="col-md-6">
              <h4>Trending datasets</h4>

              <div class="trending-data card-custom-plain">
                  {% set most_popular_datasets = h.ed_get_most_popular_datasets(limit=5) %}
                  {% if most_popular_datasets %}
                      {% for dataset in most_popular_datasets %}
                      <div class="list-item">
                        <img src="/base/images/trending-data.png" class="trending-icon" alt="New Data"/>
                        <a href="{{ h.url_for(controller='package', action='read', id=dataset.name) }}" class="dataset-name">{{ dataset.title }}</a>
                        <p class="office-name">{{ dataset.organization.title }}</p>
                      </div>
                      {% endfor %}
                  {% else %}
                    <div class="list-item">
                      <p class="dataset-name">{{ _('No datasets available.') }}</p>
                    </div>
                  {% endif %}
              </div>
          </div>

          <div class="col-md-6">
              <h4>New Data</h4>

              <div class="new-data card-custom-plain">
                  {% set recent_datasets = h.ed_get_recently_updated_datasets(limit=5) %}
                  {% if recent_datasets %}
                      {% for dataset in recent_datasets %}
                      <div class="list-item">
                        <img src="/base/images/new-data.png" class="new-data-icon" alt="New Data"/>
                        <a href="{{ h.url_for(controller='package', action='read', id=dataset.name) }}" class="dataset-name">{{ dataset.title }}</a>
                        <p class="office-name">{{ dataset.organization.title }}</p>
                      </div>
                      {% endfor %}
                  {% else %}
                    <div class="list-item">
                      <p class="dataset-name">{{ _('No datasets available.') }}</p>
                    </div>
                  {% endif %}
               </div>

          </div>

        </div>

    </div>
  </div>
</div>

<p class="page-name page-home hidden">home</p>

<!-- Categories and Major Topics  
<div role="main">
  <div class="container">
    {% set groups = h.ed_get_groups() %} {% if groups %}
    <div class="module module-topics">
      <h2 class="title">{{ _('Categories') }}</h2>
      <ul class="module-topics-list">
        {% for group in groups %} {% set group_url = h.url_for(controller='group', action='read', id=group.name) %} {% if group.image_display_url
        %} {% set group_image = group.image_display_url %} {% else %} {% set group_image = '/base/images/placeholder-group.png'
        %} {% endif %}

        <li>
          <a href="{{ group_url }}" class="topic">
            <img class="topic-icon" src="{{ group_image }}" alt="{{ group.title }}">
            <span class="topic-title">{{ group.title }}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>
-->





