{% ckan_extends %}


{% block wrapper_class %}-custom{% endblock %}

{% block primary %}
<div class="content-main">
    <div class="col-md-10">
        {% block primary_content %}
            {{ super() }}
        {% endblock %}
    </div>
</div>

{% endblock %}

{% block secondary %}
    <div class="sidebar secondary showcase-sidebar">
          {% block secondary_content %}
             {{ super() }}

            {% block package_social %}
            {% endblock %}
          {% endblock %}
    </div>
{% endblock %}