<br/>
<div class="side-holder">
    <div class="side-content">
        <h4>
            {{ _('What are Publishers?') }}
        </h4>
        <p>
        {% trans %}
            CKAN Publishers (-Offices and originally Organizations) are used to create, manage and publish collections
            of datasets. Users can have different roles within an Organization,
            depending on their level of authorisation to create, edit and publish.
        {% endtrans %}
        </p>
    </div>
</div>
