{% extends "package/read_base.html" %}
{% block scripts %}
  {{ super() }}
  {% resource 'ed/js/confirm-reject.js' %}
{% endblock %}

{% block wrapper_class %}-custom{% endblock %}

{% block primary_content_inner %}

  
    <!-- Sidebar Section -->
    <div class="inner-sidebar">
      <section class="module module-narrow module-shallow">
          <h4 class="side-heading"> Helpdesk </h4>
          <a href="#" class="underline">{{ pkg.helpdesk_email }}</a>
          <a href="#">{{ pkg.helpdesk_phone }}</a>
      </section>

      <section class="module module-narrow module-shallow">
          <h4 class="side-heading"> Data steward </h4>
          <a href="#">{{ pkg.contact_name }}</a>
          <a href="#" class="underline">{{ pkg.contact_email }}</a>
      </section>
    </div>

    <!-- Primary Section -->
    <div class="inner-primary">
      <div class="title">
          <h3>Discuss the data</h3>
          <p>Share your feedback and ideas with our community</p>
      </div>

      {% block disqus_comments %}
          {{ h.disqus_comments() }}
      {% endblock %}
    </div>
    <p class="clearfix"></p>

{% endblock %}
