{% ckan_extends %}

{% block wrapper_class %}-custom{% endblock %}

{% block primary_content_inner %}

  <!-- Sidebar Section -->
  <div class="inner-sidebar">
    <br />
    <section class="module module-narrow module-shallow">
        <h4 class="side-heading"> Dataset Categories </h4>
        <p>You can use CKAN Categories to create and manage collections of datasets. This could be to catalogue datasets for a particular project or team, or on a particular theme, or as a very simple way to help people find and search your own published datasets.</p>
    </section>
  </div>

  <!-- Primary Section -->
  <div class="inner-primary">
    {{ super() }}
  </div>
{% endblock %}
