{% ckan_extends %}


{% block content_primary_nav %}
    {{ h.build_nav_icon('dataset_read', _('Dataset'), id=pkg.name, icon=' view_list material-icons') }}
    {{ h.build_nav_icon('dataset.docs', _('Docs'), id=c.pkg_dict.name, icon=' info material-icons') }}
    {{ h.build_nav_icon('dataset.disqus', _('Disqus'), id=c.pkg_dict.name, icon=' add_comment material-icons') }}
    {{ h.build_nav_icon('dataset_showcase_list', _('Usage'), id=pkg.name, icon=' bar_chart material-icons') }}

    {% if h.ed_is_admin(c.user) %}
         {{ h.build_nav_icon('dataset_groups', _('Groups'), id=pkg.name) }}
    {% endif %}
{% endblock %}


{% block secondary_content %}

  {% block secondary_help_content %}{% endblock %}

  {% block package_info %}
    {% snippet 'package/snippets/info.html', pkg=pkg %}
  {% endblock %}

  <div class="row main-info">
    <div class="col-custom">
      <label>Updated</label>
      <span>{{ pkg.metadata_modified }}</span>
    </div>

    <div class="col-md-2">
      <label>License</label>
      <span>{{ pkg.license_title }}</span>
    </div>

    {% block package_organization %}
      {% if pkg.organization %}
        <div class="col-md-2">
          <label>Publisher</label>
          <span>{{ pkg.organization.title }}</span>
        </div>
      {% endif %}
    {% endblock %}


    <div class="col-md-3">
    {% for tag in pkg.tags %}
        {% set href = "/dataset?tags=" + tag['name'] %}
      <a href="{{href}}" class="tag-custom">#{{tag.name}}</a>
    {% endfor %}
    </div>
  </div>


<p class="page-name page-home hidden">dataset</p>
{% endblock %}
