{% ckan_extends %}

{% block content_primary_nav %}
    {{ h.build_nav_icon('dataset_read', _('Dataset'), id=pkg.name) }}
    {{ h.build_nav_icon('dataset.docs', _('Docs'), id=c.pkg_dict.name, icon='book') }}
    {{ h.build_nav_icon('dataset.disqus', _('Disqus'), id=c.pkg_dict.name, icon='book') }}
    {{ h.build_nav_icon('dataset_showcase_list', _('Usage'), id=pkg.name) }}

    {% if h.ed_is_admin(c.user) %}
         {{ h.build_nav_icon('dataset_groups', _('Groups'), id=pkg.name) }}
    {% endif %}
{% endblock %}


{% block secondary_content %}

  {% block secondary_help_content %}{% endblock %}

  {% block package_info %}
    {% snippet 'package/snippets/info.html', pkg=pkg %}
  {% endblock %}

  <div class="row main-info">
    <div class="col-custom">
      <label>Updated</label>
      <span>March 1, 2019</span>
    </div>

    <div class="col-md-2">
      <label>License</label>
      <span>Creative Commons Attribution</span>
    </div>

    {% block package_organization %}
      {% if pkg.organization %}
        <div class="col-md-2">
          <label>Publisher</label>
          <span>{{ pkg.organization.title }}</span>
        </div>
      {% endif %}
    {% endblock %}


    <div class="col-md-3">
      <label>Tags</label>
      <a href="#" class="tag-custom">#entrollment</a>
      <a href="#" class="tag-custom">#equity</a>
      <a href="#" class="tag-custom">#civil-rights</a>
    </div>
  </div>



{% endblock %}
