{% extends "package/read_base.html" %}
{% block scripts %}
  {{ super() }}
  {% resource 'ed/js/confirm-reject.js' %}
{% endblock %}


{% block primary_content_inner %}
  {{ super() }}

  {% if c.pkg_dict.approval_state  == 'approval_pending' %}
    <div class="alert alert-warning" role="alert">
      <p>{% trans %}This dataset is waiting for an administrator approval.{% endtrans %}</p>
      {% if h.ed_is_admin(c.user, c.pkg_dict.owner_org) %}
      {# TODO: remove style #}
      <div style="margin-top: 10px">
        <a href="/dataset-publish/{{ c.pkg_dict.id }}/approve" class="btn btn-primary">
          {% trans %}Approve Dataset{% endtrans %}
        </a>
        <a class="btn btn-danger" href="/dataset-publish/{{ c.pkg_dict.id }}/reject" data-module="reject" data-module-content="{{ _('Please provide some feedback for the editor:') }} ">{{ _('Reject Dataset') }}</a>
      </div>
      {% endif %}

    </div>
  {% elif c.pkg_dict.approval_state  == 'rejected' %}
    {% if not h.ed_is_admin(c.user)%}
    <div class="alert alert-warning" role="alert">
      <p>{% trans %}This dataset request was rejected by an administrator. Please update it and resubmit for approval or delete it.{% endtrans %}</p>
      <div style="margin-top: 10px">
        <a class="btn btn-primary" href="/dataset-publish/{{ c.pkg_dict.id }}/resubmit">Resubmit</a>
        <a class="btn btn-danger" href="{% url_for controller='package', action='delete', id=c.pkg_dict.id %}" data-module="confirm-action" data-module-content="{{ _('Are you sure you want to delete this dataset?') }}">{% block delete_button_text %}{{ _('Delete') }}{% endblock %}</a>
      </div>
    </div>
    {%  else %}
    <div class="alert alert-warning" role="alert">
      <p>{% trans %}This dataset request was rejected.{% endtrans %}</p>
    </div>
    {% endif %}
  {% endif %}

    {% block package_description %}
      {% if pkg.private %}
        <span class="dataset-private label label-inverse pull-right">
          <i class="fa fa-lock"></i>
          {{ _('Private') }}
        </span>
      {% endif %}
      <h1>
        {% block page_heading %}
          {{ h.dataset_display_name(pkg) }}
          {% if pkg.state.startswith('draft') %}
            [{{ _('Draft') }}]
          {% endif %}
          {% if pkg.state == 'deleted' %}
            [{{ _('Deleted') }}]
          {% endif %}
        {% endblock %}
      </h1>
      {% block package_notes %}
        {% if pkg.notes %}
          <div class="notes embedded-content">
            {{ h.render_markdown(h.get_translated(pkg, 'notes')) }}
          </div>
        {% endif %}
      {% endblock %}
      {# FIXME why is this here? seems wrong #}
      <span class="insert-comment-thread"></span>
    {% endblock %}
    {% block package_resources %}
      {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}
    {% endblock %}

    {% block package_tags %}
      {% snippet "package/snippets/tags.html", tags=pkg.tags %}
    {% endblock %}

    {% block package_additional_info %}
      {% snippet "package/snippets/additional_info.html", pkg_dict=pkg %}
    {% endblock %}


    {% if c.pkg_dict.approval_state  != 'approval_pending' and c.pkg_dict.approval_state  != 'rejected' %}
      {% block disqus_comments %}
        {{ h.disqus_comments() }}
      {% endblock %}
    {% endif %}

{% endblock %}
