{% extends "package/read_base.html" %}
{% block scripts %}
  {{ super() }}
  {% resource 'ed/js/confirm-reject.js' %}
{% endblock %}

{% block wrapper_class %}-custom{% endblock %}

{% block primary_content_inner %}
  <!-- Sidebar Section -->
  <div class="inner-sidebar">
    <section class="content-pad">
        {% for resource in pkg.resources %}
          {% if resource.resource_type != 'doc' %}
          {% set active = '' %}
          {% if resource.id == c.current_resource_id %}
            {% set active = 'active' %}
          {% endif %}
            <a href=/dataset/{{pkg.name}}?resource={{resource.id}}>
            <div class="dataset-card {{active}}">
                <span class="format">{{resource.format}}</span>
                {% if resource.url and h.is_url(resource.url) %}
                  <h5>{{resource.name | upper }}</h5>
                  {% if active %}
                    <a class="usa-button download-btn resource-type-{{ resource.resource_type }}" href="{{ resource.url }}">
                      {% if resource.resource_type in ('listing', 'service') %}
                        <i class="fa fa-eye"></i> {{ _('View') }}
                      {% elif  resource.resource_type == 'api' %}
                        <i class="fa fa-key"></i> {{ _('API Endpoint') }}
                      {% elif (not resource.has_views or not resource.can_be_previewed) and not resource.url_type == 'upload' %}
                        <i class="fa fa-external-link"></i> {{ _('Go to resource') }}
                      {% else %}
                        {{ _('Download') }}
                      {% endif %}
                    </a>
                    {%if resource.datastore_active %}
                      <button class="usa-button download-btns dropdown-toggle" data-toggle="dropdown">
                       <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li>
                          <a href="{{ h.url_for(controller='ckanext.datastore.controller:DatastoreController', action='dump', resource_id=resource.id, bom=True) }}"
                           target="_blank"><span>CSV</span></a>
                          <a href="{{ h.url_for(controller='ckanext.datastore.controller:DatastoreController', action='dump', resource_id=resource.id, format='tsv', bom=True) }}"
                           target="_blank"><span>TSV</span></a>
                          <a href="{{ h.url_for(controller='ckanext.datastore.controller:DatastoreController', action='dump', resource_id=resource.id, format='json') }}"
                           target="_blank"><span>JSON</span></a>
                          <a href="{{ h.url_for(controller='ckanext.datastore.controller:DatastoreController', action='dump', resource_id=resource.id, format='xml') }}"
                           target="_blank"><span>XML</span></a>
                        </li>
                      </ul>
                    {%endif%}
                    {% set loading_text = _('Loading...') %}
                    {% if resource.datastore_active %}
                    {% set api_info_url = h.url_for(controller='api', action='snippet', ver=1, snippet_path='api_info.html', resource_id=resource.id) %}
                      <a class="usa-button download-btn outline btn btn-success" href="{{ api_info_url }}" data-module="api-info" data-module-template="{{ api_info_url }}" data-loading-text="{{ loading_text }}"><i class="fa fa-flask fa-lg"></i> {{ _('API') }}</a>
                    {% endif %}
                    <i class="material-icons">done</i>
                  {% endif %}
                {% endif %}
            </div>
            </a>
            {% endif %}
        {% endfor %}
    </section>
  </div>

  <!-- Primary Section -->
  <div class="inner-primary">
    {{ super() }}
    {% block package_description %}
      {% if pkg.private %}
        <span class="dataset-private label label-inverse pull-right">
          <i class="fa fa-lock"></i>
          {{ _('Private') }}
        </span>
      {% endif %}
      <h1>
        {% block page_heading %}
          {% if pkg.state.startswith('draft') %}
            [{{ _('Draft') }}]
          {% endif %}
          {% if pkg.state == 'deleted' %}
            [{{ _('Deleted') }}]
          {% endif %}
        {% endblock %}
      </h1>
    {% endblock %}
    {% block package_resources %}
      {% if c.resource %}
      {% snippet "package/snippets/resource_read.html",
        pkg=pkg,
        current_resource_view=current_resource_view,
        resource_views=resource_views
      %}
      {% endif %}
    {% endblock %}
  </div>

  <p class="clearfix"></p>


{% endblock %}
