{% ckan_extends %}
          {% block facet_list_heading %}
          <h4 class="side-heading">
            {% set title = title or h.get_facet_title(name) %}
            {{ title }}
          </h4>
          {% endblock %}
          {% block facet_list_items %}
            {% with items = items or h.get_facet_items_dict(name) %}
            {% if items %}
              <nav>
                <ul class="sidebar-nav nav pad-left">
                  {% for item in items %}
                    {% set href = h.remove_url_param(name, item.name, extras=extras, alternative_url=alternative_url) if item.active else h.add_url_param(new_params={name: item.name}, extras=extras, alternative_url=alternative_url) %}
                    {% set label = label_function(item) if label_function else item.display_name %}
                    {% set label_truncated = h.truncate(label, 22) if not label_function else label %}
                    {% set count = count_label(item['count']) if count_label else ('%d' % item['count']) %}
                    {% set item_id = "".join(label.split()) %}
                    {% if name!="tags" %}
                      <div class="usa-checkbox" onClick="javascript: item_ref = document.getElementById('{{ item_id }}'); 
                      window.location.href = '{{ href }}'">
                        <input id='{{ item_id }}' {% if item.active %} checked {% endif %}  class="usa-checkbox__input {{ nav_item_class or 'nav-item' }} {% if item.active %} active {% endif %}" type="checkbox" name="{{ label if label != label_truncated else '' }}" >
                        <label class="usa-checkbox__label" for="truth">{{ label_truncated }} <span>{{ count }}</span></label>
                      </div>
                    {% else %}
                        <a href="{{ href }}" class="tag-custom {{ item.active }}">#{{ label_truncated }} <span>{{ count }}</span></a>
                    {% endif %}
                      </input>
                  {% endfor %}
                </ul>
              

              <p class="module-footer">
                {% if h.get_param_int('_%s_limit' % name) %}
                  {% if h.has_more_facets(name) %}
                    <a href="{{ h.remove_url_param('_%s_limit' % name, replace=0, extras=extras, alternative_url=alternative_url) }}" class="read-more">Show all <img src="/fanstatic/ed/img/angle-arrow-down-primary-hover.svg" alt="Show more" width=8/> </a>
                  {% endif %}
                {% else %}
                  <a href="{{ h.remove_url_param('_%s_limit' % name, extras=extras, alternative_url=alternative_url) }}" class="read-more">Show less  <img src="/fanstatic/ed/img/angle-arrow-up-primary-hover.svg" alt="Show less" width=8/></a>
                {% endif %}
              </p>
            {% else %}
              <p class="module-content empty">{{ _('There are no {facet_type} that match this search').format(facet_type=title) }}</p>
            {% endif %}

            </nav>
            {% endwith %}
          {% endblock %}
 
