{% ckan_extends %}

{% block links %}
    
    <!--[if IE]>
    <script src="{{ h.url_for_static('/classList.min.js') }}"></script>
    <![endif]-->

    {% resource 'pages/css/medium-editor.css' %}
    {% resource 'pages/js/medium-editor.js' %}
    {% resource 'pages/js/pages-editor.js' %}
{% endblock %}

{% block styles %}
  {{ super() }}
  {% resource 'ed/css/uswds.css' %}
  {% resource 'ed/css/theme/styles.css' %}
{% endblock %}


{% block scripts %}
  {{ super() }}
  {% resource 'ed/js/uswds.js' %}
  {% resource 'ed/js/select-tags.js' %}

{% endblock %}
