
{% block footer_debug %} {% if g.debug %} {% include 'snippets/debug.html' %} {% endif %} {% endblock %}

<footer class="site-footer">
    <div class="container-fluid">
        {% block footer_content %}
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="footer-logo">
                    <img src="/base/images/dept-of-ed-logo-footer.png" width="50"></a>
                </div>
                <div class="footer-logo-content">
                    <p class="main-text">DATA.ED.GOV</p>
                    <p class="subtext">Official Website of U.S Government</p>
                </div>  
            </div>
            <div class="col-md-8  col-sm-12  col-xs-12 footer-links">
                {% block footer_nav %}
                <ul class="list-unstyled">
                    {% block footer_links_ckan %} {% set api_url = 'http://docs.ckan.org/en/{0}/api/'.format(g.ckan_doc_version) %}
                    <li><a href="{{ h.url_for(controller='home', action='about') }}">{{ _('About
                            ').format(g.site_title) }}
                        </a></li>
                    <li><a href="{{ h.url_for('stats') }}"> Statistics</a></li>
                    <li><a href="{{ h.url_for(controller='package', action='search') }}"> Datasets</a></li>
                    <li><a href="{{ h.url_for(controller='organization', action='index') }}"> Publishers</a></li>
                    <li><a href="{{ api_url }}" target="_blank">{{ _('API') }}</a></li>
                    {% endblock %}
                </ul>
                {% endblock %}
            </div>
        </div>
        {% endblock %}
    </div>
    
</footer>
