{% ckan_extends %}

{%- block content %}
    {% block toolbar %}
    {% endblock %}

    {% block maintag %}<div role="main">{% endblock %}
      <div id="content" class="container-fluid">
        {% block main_content %}
          {% block flash %}
            <div class="flash-messages">
              {% block flash_inner %}
                {% for message in h.flash.pop_messages() | list %}
                  <div class="alert alert-warning fade in {{ message.category }}">
                    {{ h.literal(message) }}
                  </div>
                {% endfor %}
              {% endblock %}
            </div>
          {% endblock %}

          <div class="row wrapper{% block wrapper_class %}{% endblock %}{% if self.secondary()|trim == '' or c.action=='resource_read' %} no-nav{% endif %}">
            {% block pre_primary %}
            {% endblock %}

            {% block secondary %}
              <aside class="sidebar">
                {% block secondary_content %}{% endblock %}
              </aside>
            {% endblock %}

            {% block primary %}
              <div class="primary col-sm-9 col-xs-12">
                {% block primary_content %}
                  {{ super() }}
                {% endblock %}
              </div>
            {% endblock %}
          </div>
        {% endblock %}
      </div>
    </div>
  {% endblock -%}
