{% import 'macros/form.html' as form %}

<style>
fieldset.checkboxes label {
    font-weight: normal;
    display: block;
}
fieldset.checkboxes label:after {
    content: none;
}
fieldset.checkboxes label input {
    width: auto;
    top: 0;
}
</style>

{{ form.checkbox(
    name=field.field_name,
    id='field-' + field.field_name,
    label=h.scheming_language_text(field.label),
    classes=['control-medium'],
    checked=data[field.field_name],
    value="true",
    error=errors[field.field_name],
    is_required=h.scheming_field_required(field)) }}


