{% ckan_extends %}
{{ super() }}


{% block wrapper_class %}-custom{% endblock %}

{% block subtitle %}{{ _('Publishers') }}{% endblock %}

{% block primary %}
    <div class="content-main">
        <div class="col-md-10">
            <section class="module">
                {% block primary_content %}
                    {{ super() }}
                {% endblock %}
            </section>
        </div>
    </div>
{% endblock %}


{% block secondary %}
    <div class="sidebar secondary">
          {% block secondary_content %}
            {{ super() }}
          {% endblock %}
    </div>
{% endblock %}



