{% set type = group.type or 'group' %}
{% set url = h.url_for(type ~ '_read', action='read', id=group.name) %}
{% block item %}
<li class="dataset-item item-extended">

    <div class="card-custom package-item">
        <p class="font-body-lg">
            <a href="{{ url }}" title="{{ _('View {name}').format(name=group.display_name) }}">{{ group.display_name }}</a>
        </p>
        <div class="data-desc">
          {% if group.description %}
            {{ h.markdown_extract(group.description, extract_length=80) }}
          {% endif %}</div>

        <div class="dataset-total-views">

            {% if group.package_count %}
            <span>{{ ungettext('{num} Dataset', '{num} Datasets', group.package_count).format(num=group.package_count) }}</span>
            {% elif group.package_count == 0 %}
            <span>{{ _('0 Datasets') }}</span>
            {% endif %}
        </div>

        {% if group.user_member %}
          <input name="group_remove.{{ group.id }}" value="{{ _('Remove') }}" type="submit" class="btn btn-danger btn-sm media-edit" title="{{ _('Remove dataset from this collection') }}"/>
        {% endif %}
    </div>

</li>
{% endblock %}
{% if position is divisibleby 3 %}
  <li class="clearfix js-hide"></li>
{% endif %}
