<br/>
<div class="side-holder">
    <div class="side-content">
        <h4>
            {{ _('What are Collections?') }}
        </h4>
        <p>
        {% trans %}
          You can use CKAN Collections to create and manage collections of datasets.
          This could be to catalogue datasets for a particular project or team,
          or on a particular theme, or as a very simple way to help people find
          and search your own published datasets.
        {% endtrans %}
        </p>
    </div>
</div>
