.container-fluid {
    .row {
       margin-left: 0; 
       margin-right: 0;
    }
}

.stages li {
    width:30%;
}


.control-large input {
    border-radius:0;
}

.editor textarea {
    border-radius:0;
}