/* Admin Pages styling */
.container-fluid {
    .row {
       margin-left: 0; 
       margin-right: 0;
    }
}

.stages li {
    width:30%;
}

//Smaller fixes to admin screens including page headers, input fields etc
.control-large input {
    border-radius:0;
}

.editor textarea {
    border-radius:0;
}

fieldset {
    border:0;
}

.page-header {
    background-color:transparent;
}

.stages li.active .highlight {
    color: #ffffff;
    background: $theme-color-blue;
}

.stages li.active:after {
    border-top-color:$theme-color-blue;
    border-bottom-color: $theme-color-blue;
}

.stages li.active:before {
    color: $theme-color-main;
}

.btn-lg, .btn-group-lg > .btn {
    padding:7px 16px;
}

.row-fluid .controls {
    margin-top:10px;
}


//Fixes to profile page images
.context-info .image img {
    width:auto;
    height:auto;
    max-height: 150px;
}

.resource-item {
    .checkbox {
        display:none;
    }
}