/* Media Queries */
@media screen and (max-width:767px){ 
    header.masthead .navbar-collapse {
        padding: 0 0 20px 0;
    }

    .container-fluid {
        padding: 0 15px !important;
    }
    @include customGridWidths(0%);

    .sidebar {

        .sidebar_content_wrap {
            padding-bottom:0;
        }
    }

    .sidebar.secondary {
        height:auto;
        min-height: 0;
        width:100%;
        position:relative;
        z-index:120;
    }

    .module-content {
        padding-left: 5px;
        padding-right:5px;
    }

    .hero {
        .hero-content {
            padding:40px 10px 0 0px;
        }
    }

    .home-categories {
        margin: 48px 0px;
    }

    .trending-new {
        margin: 20px 0 70px 0;
    }

    .search-form {
        label {
            padding-left:0;
        }
        h2 {
            top:0;
        }
        .control-order-by {
            text-align:left;
        }
    }

    .sidebar_content_wrap.fixed {
        position: static !important;
        top: 0 !important;
    }
}

@media screen and (min-width:1920px){
    @include customGridWidths(15%);
}

@media screen and (min-width:768px) and (max-width:1200px){
    header.masthead .site-search {
        width: 45%;
    }

    header.masthead .nav > li {
        padding: 0 10px;
    }

    .hero {
        .hero-content {
            padding:40px 20px 0 20px;
        }
    }

    @include customGridWidths(30%); 


    .home-categories, .trending-new {
        margin-right:30px;
        margin-left:30px;
    }

    header.masthead {
        .nav-logo {
            margin-right:20px;
        }
    }
}

@media screen and (min-width:1200px) and (max-width:1919px){
    @include customGridWidths(20.5%);
}
